{% extends 'index.html' %}
{% block content %}

<div class="content-page">
    <div class="container-fluid">
        <div class="row" id="table-container">
           {% include 'kitchendashitems.html' %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var socket;
        var usePolling = false;
        var pollInterval;

        function refreshTable() {
            $.ajax({
                url: "{% url 'refresh_table' %}",
                type: "GET",
                success: function(response) {
                    console.log("Response received:", response);
                    $('#table-container').html(response.table_html);
                },
                error: function(xhr, status, error) {
                    console.error("Error:", error);
                }
            });
        }

        function startPolling() {
            if (!usePolling) {
                usePolling = true;
                console.log("Starting polling fallback...");
                pollInterval = setInterval(refreshTable, 5000); // Poll every 5 seconds
            }
        }

        function connectWebSocket() {
            var ws_scheme = window.location.protocol === "https:" ? "wss" : "ws";
            var ws_path = ws_scheme + '://' + window.location.host + '/ws/updates/';
            console.log("Connecting to WebSocket: " + ws_path);
            
            socket = new WebSocket(ws_path);

            socket.onmessage = function(event) {
                var data = JSON.parse(event.data);
                if (data.message === "Database updated") {
                    console.log("WebSocket update received");
                    refreshTable();
                }
            };

            socket.onopen = function() {
                console.log("WebSocket connection opened.");
                if (pollInterval) {
                    clearInterval(pollInterval);
                    pollInterval = null;
                }
                usePolling = false;
            };

            socket.onerror = function(error) {
                console.error("WebSocket error:", error);
                startPolling();
            };

            socket.onclose = function(event) {
                console.log("WebSocket connection closed:", event);
                startPolling();
                // Attempt to reconnect after 5 seconds
                setTimeout(connectWebSocket, 5000);
            };
        }

        connectWebSocket();
    });

    
    $(document).ready(function () {
        function ajaxPost(url, data, onSuccess) {
            $.ajax({
                url: url,
                type: "POST",
                data: data,
                success: function (response) {
                    console.log("Response received:", response);
                    $("#table-container").html(response.order_html);
                },
                error: function (xhr, errmsg, err) {
                    console.error(xhr.status + ": " + xhr.responseText);
                }
            });
        }

        $(document).on("click", ".progre", function () {
            console.log("Progress Click Working....");
            var orderid = $(this).data("order-item-id");

            ajaxPost("{% url 'Status_Change' %}", {
                'orderid': orderid,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            });
        });

        $(document).on("click", ".ready", function () {
            console.log("Ready Click Working....");
            var orderid = $(this).data("order-item-id");

            ajaxPost("{% url 'Status_Change_Order_Ready' %}", {
                'orderid': orderid,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            });
        });

        $(document).on("click", ".finish", function () {
            console.log("Finish Click Working....");
            var menuid = $(this).data("menu-item-id");

            ajaxPost("{% url 'Status_Change_Menu_Finish' %}", {
                'orderid': menuid,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            });
        });
    });
</script>


{% endblock %}
