{% extends 'index.html' %}
{% block content %}
<style>
    .category-container{
        max-height: 550px ;
        overflow-y: scroll;
    }
    .category-container::-webkit-scrollbar{
        display: none;
    }
</style>

<div class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 category-container mb-3">
                <div class="card card-transparent card-block card-stretch mb-4">
                    <div class="card-header d-flex align-items-center justify-content-between p-0">
                        <div class="header-title">
                            <h4 class="card-title mb-0">Category</h4>
                            {% for message in messages %}
                        <div class="alert {{message.tags}} " role="alert">
                            <div class="iq-alert-text"><b>Alert</b> {{message}}</div>
                        </div>
                        {% endfor %}
                        </div>
                        <form id="product-search-form">
                            <input type="hidden" id="order_id" name="order_id" value="{{ order.id }}">
                            <input type="text" id="product_search" name="product_search" class="form-control" placeholder="Search product with code or name">
                        </form>

                    </div>
                </div>
                <div id="cat">
                {% include 'order-category-dash.html' %}
                </div>

            </div>

            <div class="col-lg-8">
                <div class="card-block card-stretch card-height" id="order-summary">
                    {% include 'order-summery.html' %}
                    
                   
                </div>
           
            </div>
            


        </div>
    </div>
</div>


<!-- <script>
    $(document).ready(function() {
        $(".btn-increase").on("click", function() {
            var itemId = $(this).data("item-id");

            $.ajax({
                url: "{% url 'increase_quantity' %}",
                type: "POST",
                data: {
                    'item_id': itemId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    $("#order-summary").html(response.order_html);
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });

        $(".btn-decrease").on("click", function() {
            var itemId = $(this).data("item-id");

            $.ajax({
                url: "{% url 'decrease_quantity' %}",
                type: "POST",
                data: {
                    'item_id': itemId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function(response) {
                    $("#order-summary").html(response.order_html);
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });
</script> -->
<script>
    $(document).ready(function () {
        $(document).on("click", ".btn-increase", function () {
            var itemId = $(this).data("item-id");

            $.ajax({
                url: "{% url 'increase_quantity' %}",
                type: "POST",
                data: {
                    'item_id': itemId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    $("#order-summary").html(response.order_html);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });

        $(document).on("click", ".btn-decrease", function () {
            var itemId = $(this).data("item-id");

            $.ajax({
                url: "{% url 'decrease_quantity' %}",
                type: "POST",
                data: {
                    'item_id': itemId,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                success: function (response) {
                    $("#order-summary").html(response.order_html);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });

</script>

<script>
    $(document).ready(function () {
        $("#product_search").on("input", function () {
            var query = $(this).val();
            var orderId = $("#order_id").val();

            $.ajax({
                url: "{% url 'search_menu' %}",
                type: "GET",
                data: {
                    'product_search': query,
                    'order_id': orderId
                },
                success: function (response) {
                    $("#cat").html(response);
                },
                error: function (xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        });
    });
</script>



{% endblock %}